<div class="card-header border-bottom text-center">
    <h1 style="color: darkred;"><%= name %></h1> 
    <nav class="navbar navbar-light justify-content-center" style="background-color:#F5F5F5">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <!-- <a class="nav-link" class="<%= path === '/cart' ? 'active' : '' %>" href="/">Carrito de compras</a> -->
                    <a class="nav-link <%= path === '/cart' ? 'active' : '' %>"  href="/">Carrito de compras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= path === '/products' ? 'active' : '' %> <%= isThereCart ? 'disabled' : ''  %>" href="/products">Productos</a>
                </li>
                
            </ul>
    </nav>
</div>